<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="yellow">
<h1>
    Welcome to Weather App
</h1>
<form action="" method="POST">
{% csrf_token %}
    <label for="city">Enter the name of city to fetch temparature:</label><br>
    <input type="text" id="city" name="city" ><br>
     <input type="submit" value="Submit">
</form>


<div align="center">
    <h2>Check the spelling of your city and try again</h2>
    
</div>

</body>
</html>